* {
  width: 100%;
  font-family: 'Bangers', cursive;
}

.wrapper {
  width: 100%;
  height: 92vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100vw 100vh;
  overflow: hidden;
}

.info {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-content: center;
  margin-top: -60px;
  position: relative;
  font-family: 'Bangers', cursive;
  color: rgb(255, 255, 255);
  font-size: 22px;
  transform: translate(-100px, 60px);
}

.info__time {
  display: flex;
  width: 10%;	
}
.info__steps {
  display: flex;
  margin-right: -200px;
  width: 10%;
}
p {
  padding: 3px;
  margin: 10px;
  color: rgb(255, 255, 255);
  font-size:calc(12px + 7 * ((100vw - 320px)/ (1280 - 320)));
}

.field {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 700px;
  margin: auto;
  margin-top: 70px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border: 2px solid #000;
  padding: 2px;
  font-size: 40px;
  font-family: 'Bangers', cursive;
  cursor: pointer;
  user-select: none;
  background: white;
}

.card.card_closed::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(img/back.jpg);
  background-size: cover;
}

.restart {
  width: auto;
  margin: 30px 0;
  text-align: center;
}

.restart button {
  width: auto;
  padding: 10px 20px;
 background: rgb(102, 0, 85); 
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;

}

@media (max-width: 715px) {
  .game__container {
      margin-top: 95px;
  }
  .info {
      transform: translate(-120px, -20px);
  }

  .field {
      width: 550px;
      max-height: 100%;
      margin: auto;
  }
  .card {
    width: 80px;
    height: 80px;

  }
  .wrapper {
      height: 100%;
      width: 100%;
  }
}

@media (max-width: 600px) {
  .game__container {
      margin-top: 70px;
  }
  .field {
      width: 500px;
      max-height: 100%;
      margin: auto;
  }
  .card {
      width: 70px;
      height: 70px;
  }
  .info {
      transform: translate(-150px, 10px);
  }
  p {
      padding: 5px;
      margin: 20px
  }
}

@media (max-width: 525px) {
  .game__container {
      margin-top: -45px;
  }
  .field {
      width: 90%;
      max-height: 100%;
      margin: auto;
  }
  .card {
      width: 60px;
      height: 60px;
  }
  .info {
      transform: translate(100px, 20px);
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
  .info__time {
      margin-top: 20px;
  }
  .info__steps {
      margin-top: -40px;
      margin-bottom: 20px;
  }
}

@media (max-width: 460px) {
  .game__container {
      margin-top: -45px;
  }
  .field {
      width: 85%;
      max-height: 100%;
      margin: auto;
  }
  .card {
      width: 60px;
      height: 60px;
  }
  .info {
      transform: translate(100px, 20px);
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
  .info__time {
      margin-top: 20px;
  }
  .info__steps {
      margin-top: -40px;
      margin-bottom: 20px;
  }
}
@media (max-width: 350px) {
  .game__container {
      margin-top: -45px;
  }
  .field {
      width: 90%;
      max-height: 100%;
      margin: auto;
  }
  .card {
      width: 55px;
      height: 55px;
  }
  .info {
      transform: translate(50px, 30px);
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
  .info__time {
      margin-top: 20px;
  }
  .info__steps {
      margin-top: -40px;
      margin-bottom: 20px;
  }
}

.memo_records {
  margin-top: 3vh;
  margin-left: 35%;
  width: 30%;
  font-size: calc(1em + 1vw);
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 10px solid;

}
.records_table {
  background-color: #f1f1f1;
  width: 100%;
  opacity: 70%;
  display: flex;
  justify-content: center;

}
@media (max-width: 600px) {
  .memo_records {
    width: 40%;
  }
}
@media (max-width: 480px) {
  .memo_records {
    width: 50%;
    margin-left: 25%;
  }
}
@media (max-width: 370px) {
  .memo_records {
    width: 60%;
    margin-left: 20%;
  }
}

.records_table td {
  word-wrap: break-word;
  padding: 3vh;
  text-align: left;
  color: rgb(203, 39, 39);
  font-size:calc(12px + 7 * ((100vw - 320px)/ (1280 - 320)));
}

.records_table td:nth-child(2) {
  text-align: right;
  color: rgb(39, 203, 58);
  font-size:calc(12px + 7 * ((100vw - 320px)/ (1280 - 320)));
}