:root {
  font-size: 62.5%;
}

body {
  background: url(/img/background.jpg);
  font-family: 'Bangers', cursive;
  font-size: 1.6rem;
}

nav {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
  top: 50px;
  inset: 0 0 auto 0;
  height: 4.8rem;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  cursor: pointer;
}

.logo {
  position: absolute;
  left: 10px;
  padding: 0.8rem;
  font-size: 2.4rem;
  font-weight: bold;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: auto;
  right: 50px;
  padding: 0;
  margin: 1rem 0;
  position: absolute;
  /* right: -150px; */
  list-style: none;
  cursor: pointer;
}

.menu__item {
  padding: 0 2rem;
  transition: 250ms ease;
  width: auto;
  cursor: pointer;
  font-size: 20px;
}

.menu__item:hover {
  color: rgb(237, 203, 13);
}

.menu__item > a {
  color: inherit;
  text-decoration: none;
}

main {
  position: relative;
  margin-top: 4.8rem;
}

#container {
  /* width: clamp(288px, 80%, 800px); */
  width: 100%;
  margin: auto;
  /* background: url(/img/background.jpg); */
  /* color: rgb(231, 150, 10); */
  height: calc(100vh - 7.2rem);
  box-sizing: border-box;
  padding: 0.8rem 1.6rem;
}


h1 {
  font-weight: bold;
  font-size: 2.4rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rules {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-left: 25%;
}
.rules p {
  font-size: 20px;
}